@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-accounting5:before {
	content: "\e000";
}
.flaticon-air6:before {
	content: "\e001";
}
.flaticon-architecture:before {
	content: "\e002";
}
.flaticon-bag44:before {
	content: "\e003";
}
.flaticon-beauty31:before {
	content: "\e004";
}
.flaticon-box16:before {
	content: "\e005";
}
.flaticon-bus55:before {
	content: "\e006";
}
.flaticon-businessman221:before {
	content: "\e007";
}
.flaticon-businessman7:before {
	content: "\e008";
}
.flaticon-cake7:before {
	content: "\e009";
}
.flaticon-cameras2:before {
	content: "\e00a";
}
.flaticon-car189:before {
	content: "\e00b";
}
.flaticon-coffee26:before {
	content: "\e00c";
}
.flaticon-coins17:before {
	content: "\e00d";
}
.flaticon-computer-screen1:before {
	content: "\e00e";
}
.flaticon-computer201:before {
	content: "\e00f";
}
.flaticon-computers:before {
	content: "\e010";
}
.flaticon-couple4:before {
	content: "\e011";
}
.flaticon-customerservice10:before {
	content: "\e012";
}
.flaticon-cutlery6:before {
	content: "\e013";
}
.flaticon-dollar9:before {
	content: "\e014";
}
.flaticon-ecg2:before {
	content: "\e015";
}
.flaticon-eco4:before {
	content: "\e016";
}
.flaticon-eyeglasses18:before {
	content: "\e017";
}
.flaticon-female94:before {
	content: "\e018";
}
.flaticon-finish2:before {
	content: "\e019";
}
.flaticon-furniture41:before {
	content: "\e01a";
}
.flaticon-hair11:before {
	content: "\e01b";
}
.flaticon-hand220:before {
	content: "\e01c";
}
.flaticon-handshake3:before {
	content: "\e01d";
}
.flaticon-home168:before {
	content: "\e01e";
}
.flaticon-hot-food:before {
	content: "\e01f";
}
.flaticon-internet54:before {
	content: "\e020";
}
.flaticon-judge1:before {
	content: "\e021";
}
.flaticon-kids4:before {
	content: "\e022";
}
.flaticon-light41:before {
	content: "\e023";
}
.flaticon-lightning24:before {
	content: "\e024";
}
.flaticon-living1:before {
	content: "\e025";
}
.flaticon-love56:before {
	content: "\e026";
}
.flaticon-makeup14:before {
	content: "\e027";
}
.flaticon-map-pointer7:before {
	content: "\e028";
}
.flaticon-marijuana:before {
	content: "\e029";
}
.flaticon-marker20:before {
	content: "\e02a";
}
.flaticon-medical68:before {
	content: "\e02b";
}
.flaticon-money184:before {
	content: "\e02c";
}
.flaticon-movie43:before {
	content: "\e02d";
}
.flaticon-open-book1:before {
	content: "\e02e";
}
.flaticon-optical2:before {
	content: "\e02f";
}
.flaticon-phone325:before {
	content: "\e030";
}
.flaticon-picture17:before {
	content: "\e031";
}
.flaticon-plants6:before {
	content: "\e032";
}
.flaticon-plug42:before {
	content: "\e033";
}
.flaticon-precious:before {
	content: "\e034";
}
.flaticon-printing16:before {
	content: "\e035";
}
.flaticon-round46:before {
	content: "\e036";
}
.flaticon-rubber4:before {
	content: "\e037";
}
.flaticon-sewing8:before {
	content: "\e038";
}
.flaticon-shop3:before {
	content: "\e039";
}
.flaticon-stethoscope:before {
	content: "\e03a";
}
.flaticon-stylish5:before {
	content: "\e03b";
}
.flaticon-t-shirt5:before {
	content: "\e03c";
}
.flaticon-teachers1:before {
	content: "\e03d";
}
.flaticon-toilet16:before {
	content: "\e03e";
}
.flaticon-tooth:before {
	content: "\e03f";
}
.flaticon-triangular46:before {
	content: "\e040";
}
.flaticon-video189:before {
	content: "\e041";
}
.flaticon-watch10:before {
	content: "\e042";
}
.flaticon-women25:before {
	content: "\e043";
}
.flaticon-wrench108:before {
	content: "\e044";
}
