# Defining directory index
DirectoryIndex router.php

# Rewrite all virtual and php queries to router
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f [or]
RewriteCond %{REQUEST_FILENAME} \.php$
RewriteRule ^(.*)$ router\.php [L,QSA,NE]

# Caching schema
#<FilesMatch "\.(jpg|jpeg|png|js|css)$">
#	Header set Cache-Control "public, proxy-revalidate, max-age=259200"
#</FilesMatch>

# Custom 400 errors
ErrorDocument 400 /router.php?page=400

# Custom 401 errors
ErrorDocument 401 /router.php?page=401

# Custom 403 errors
ErrorDocument 403 /router.php?page=403

# Custom 404 errors
ErrorDocument 404 /router.php?page=404

# Custom 500 errors
ErrorDocument 500 /router.php?page=500

# Prevent viewing of .htaccess file
<Files .htaccess>
	order allow,deny
	deny from all
</Files>

# Prevent directory listings
Options All -Indexes