/** view_1 **/

.image{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* search query style */
#search_form .query{
	font-size: 20px;
	padding: 7px;
}
#search_form .btn i{
	font-size: 20px;
	padding: 7px 16px;
}
#search_form .input-lg{
	height: 55px;
}
.portlet{
	margin-bottom: 30px;
}

.item_a, .item_a:hover{
	text-decoration: none !important;
}

.item{
	text-decoration:none !important;
	color:#000 !important;
	margin-bottom: 0px;
}

.item p{
	height: 9ex;
  	overflow: hidden;
}
.item .caption{
	height: 6ex;
	overflow: hidden;
}

.item>div.portlet{
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
}
.item>div.portlet:hover{
	border-color: #337ab7;
}