.image{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.property-box-content>h3{
	margin: 0 0 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.property-box-content>p{
	height: 9ex;
	overflow: hidden;
}
