.image{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.property-box-content>h1{
	margin: 0 0 15px;
}
.property-box-content>p{
	height: 9ex;
	overflow: hidden;
}
