/* This is a compiled file, you should be editing the file in the templates directory */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 0;
}

.pace.pace-inactive .pace-progress {
  display: none;
}

.pace .pace-progress {
  position: absolute;
  z-index: 2000;
  top: 0;
  height: 4rem;
  width: 4rem !important;

}

.pace .pace-progress:after {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  content: attr(data-progress-text);
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 4rem;
  line-height: 1;
  text-align: left;
  color: rgba(255, 255, 255, 0.19999999999999996);
}
